/* BUTTONS */

.loginButton {

  height: 40px;
  width: auto;
  min-width: 40px;
  max-width: 350px;

  float: left;

  padding: 5px 20px 5px 20px;

  border-radius: 50px;
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,.1);
  border: 1px solid transparent;
  cursor: pointer;
  transform: scale(1.0);

  transition: .5s;
}

    .loginButton:hover {
      border: 1px solid rgba(255,255,255, .5);
      box-shadow: 0px 0px 10px 7px rgba(0,0,0,.2);
      transform: scale(1.1);

      transition: .5s;
    }

      .loginButton img {
        max-height: 20px;
        max-width:  20px;

        margin: 11px 0 0 0;

        float: left;
        display: inline-block;
      }

      .loginButton span {
        margin: 0 0 0 20px;

        float: right;

        color: #FFF;
        line-height: 40px;
      }

/* SPECIFIC BUTTONS */

#faceBookButton {
  background: url('../imgs/facebook-logo.png');
  background-size: 20%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #2A69B9;

  transition: .5s;
}

    #faceBookButton:hover {
      background-size: 25%;

      transition: .5s;
    }

#twitterButton {
  margin: 0 0 0 25px;

  font-weight: 100;

  background-color: #06BFF4;

}
